
    <div class="container container-fix">
      <!--========================   Heading End  ======================-->
    
    <!--========================   Upload  Start   ======================-->
    <div class="row">
      <%= render 'layouts/admin_header' %>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="heading-title text-left">Church Musician Management</h2>
        </div>
        <div class="col-sm-12">
            <h4 class="heading-title text-left">Total Church Musicians: <%=@church_musician_active_users%></h4>
        </div>
        <div class="col-xs-12">
            <div class="table-responsive">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Church Musician Name</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>  
                       <%@subdomain_names.each do |subdomain_name|%>
                         <%chruch_musician= subdomain_info(subdomain_name) rescue nil%>
                            <%unless chruch_musician.blank?%>
                            <tr>
                                <td><%=chruch_musician.username%></td>
                                <td>
                                <%= link_to edit_chruch_musician_path(chruch_musician), class: 'btn btn-info',  title: 'Details' do %>
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                <% end %>   
                                <%id = chruch_musician.id%>
                                <%= link_to chruch_musician_path(id), method: :delete, data: { confirm: 'You want to delete this' }, class: 'btn btn-danger',  title: 'Remove' do %>
                                    <span class="glyphicon glyphicon-trash"></span>
                                <% end %>
                                </td>
                            </tr>
                            <%end%>
                        <%end%>
                    </tbody>
                </table>
            </div>
              <%=will_paginate  @subdomain_names%>
        </div>
    </div>
    <!--========================   Upload   End  ======================-->
</div>



<%= javascript_include_tag 'bootstrap-hover-dropdown.js', 'bootstrap-tabdrop.js', 'ekko-lightbox.js', "jquery.raty.js", 'icheck.min.js', 'summernote.min.js' %>




