<div class="container-fluid container-fix">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="breadcrumb-outer">
        </div>
      </div>
      <div class="form-group col-sm-12 <% if current_subdomain.present? && !current_subdomain.is_ocm? %>hide<% end %>">
        <% if current_subdomain.present? && current_subdomain.is_ocm? %>
          <label class="checkbox-inline" style="padding-left: 0px;">
            <input type="radio" name="user[role]" value="CUSTOMER", id="role4" class="user_role" checked="checked" > Customer
          </label>
        <%else %>
          <label class="checkbox-inline" style="padding-left: 0px;">
            <input type="radio" name="user[role]" value="CUSTOMER", id="role4" class="user_role" checked="checked" > Customer
          </label>
        <% end %>
        <% if current_subdomain.present? && current_subdomain.is_ocm?%>
          <% @subdomain_types.each do |subdomain_type| %>
            <label class="checkbox-inline" style="padding-left: 0px;">
              <input type="radio" name="user[role]" value="<%= subdomain_type.subdomain_type %>" data-id="<%= subdomain_type.id %>" class="user_role"> <%= subdomain_type.subdomain_type.gsub("_", " ").titleize %>
            </label>
          <% end if @subdomain_types%>
        <%end%>
      </div>
      <div class="col-sm-12">
        <div class="row Monthly-Pricing-two">
          <div id="plans"></div>
        </div>
      </div>
    </div><!--/row-->
  </div>
</div>


<script type="text/javascript">
    subdomain_types_and_plans = {
        <% @subdomain_types.each do |subdomain_type| -%>
        "<%= subdomain_type.id %>": [<% subdomain_type.plans.each do |plan| -%><% if plan.type_is?('RENEW') || plan.type_is?('ONE_TIME') %>"<%= plan.id %>", <% end %><% end %>],
        <% end if @subdomain_types  %>
    }
</script>

<script type="text/javascript">
    subdomain_types_and_setup = {
        <% @subdomain_types.each do |subdomain_type| -%>
        "<%= subdomain_type.id %>": [<% subdomain_type.plans.each do |plan| -%><% if plan.type_is?('SETUP') %>"<%= plan.id %>", <% end %><% end %>],
        <% end if @subdomain_types  %>
    }
</script>

<% @subdomain_types.each do |subdomain_type| -%>
    <% subdomain_type.plans.each do |plan| -%>
        <div id="subdomain_plans_<%= subdomain_type.id %>_<%= plan.id %>" class="hide">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="monthly-pricing text-center shadow" style="height: 460px;background-color: rgb(234, 237, 236);">
                <ul class="list-group" style="padding-left:0px;background-color: rgb(234, 237, 236);">
                  <li class="list-group-item" style="min-height:91px;background-color: rgb(234, 237, 236);border: medium none;">
                    <p class="message" style="padding-top:15px; ">
                    <h4 class="text-success">
                        <label class="checkbox-inline" id="radio-button">
                            <input type="radio" name="subdomain_plan" value="<%= plan.id %>"> <%= plan.plan_name.titleize %> Plan
                        </label>
                        <span><%= 'Current Plan' if current_user && plan == current_user.current_plan %></span>
                    </p></h4></li>

                    <li class="list-group-item background_gray" style="min-height: 135px;"><h4 class=""><p class="plan_amount2">
                        <% if subdomain_type.has_setup_plan? %>One Time Setup fee $ <%= number_with_precision(subdomain_type.setup_amount, :precision => 0) %><% else %>No Setup Fee<% end %> + <br> $ <%=number_with_precision(plan.plan_amount, :precision => 0)%> <br> <span class="small_text2">per month <span></p></h4>
                    </li>
                    <li class="list-group-item min-height_pp" style="background-color: rgb(234, 237, 236);border: medium none;">
                        <p class="desc"><%= plan.plan_description.truncate(152) %></p>
                  
                 <!--    <div  style="background-color:#fff"> -->
                        <% if current_user.present? %>
                            <% if plan == current_user.current_plan %>
                                <a class="btn btn-info" href="#" style="color:#fff"></a>
                            <% else %>
                                <a class="btn btn-info" href="<%= medialist_path %>" style="color:#fff">Sign up</a>
                            <% end %>
                        <% else %>
                            <a class="btn btn-info" href="<%= "#{signup_path}?user%5Brole%5D=BUSINESS&pricing_plan_id=#{plan.id}&subdomain_type_id=#{subdomain_type.id}"%>" style="color:#fff">Sign up</a>
                         <% end %>
                  <!--   </div> -->
                     </li>
                </div>
            </div>
                <div class="col-sm-2"></div>
          <!--   <div class="col-sm-4"></div> -->

        </div>
    <% end %>
<% end if @subdomain_types %>

    <div class="hide customer_plans">
      <!--   <div class="col-sm-2"></div> -->
        <div class="col-sm-4">
            <div class="monthly-pricing text-center shadow" style="height: 460px;background-color: rgb(234, 237, 236);">
              <ul class="list-group" style="padding-left:0px;">
                <li class="list-group-item" style="min-height:91px;background-color: rgb(234, 237, 236);border: medium none;"><p class="message" style="padding-top:15px; ">
                <h4 class="text-success">
                    <label class="checkbox-inline" id="radio-button">
                        <input type="radio" name="customer_plan" value="0" class="plans"> Free
                    </label>
                    <%if current_user && !current_user.is_ocm? && current_user.current_plan.blank? %>
                        <span>Current Plan</span>
                    <%end%>
                </h4></p></li>
                <li class="list-group-item background_gray">
                 <h4 class="">
                <p class="plan_amount2"> $ 0<br></p>
                 <span class="small_text2" style="font-weight: bold;" >per month <span>
                  </h4>
               </li>
                <li class="list-group-item min-height_pp" style="background-color: rgb(234, 237, 236);border: medium none;"><p class="desc">Here all the free messages given away from the church here.</p>

               <!--  <div  style="background-color:#fff"> -->
                    <% if current_user.present? %>
                        <% if !current_user.is_ocm? && current_user.current_plan.blank? %>
                            <a class="btn btn-info" href="<%= "#{signup_path}?user%5Brole%5D=CUSTOMER&pricing_plan_id=0"%>" style="color:#fff">Sign up</a>
                        <% else %>
                            <a class="btn btn-info" href="<%= medialist_path %>" style="color:#fff">Sign up</a>
                        <% end %>
                    <% else %>
                        <a class="btn btn-info" href="<%= "#{signup_path}?user%5Brole%5D=CUSTOMER&pricing_plan_id=0"%>" style="color:#fff">Sign up</a>
                    <% end %>
             <!--    </div> -->
                </li>
            </div>
        </div>
        <!--  <div class="col-sm-2"></div> -->
    </div>
<% @customer_plans.each do |plan| %>
    <div class="hide customer_plans">
        <div class="col-sm-4">
            <div class="monthly-pricing text-center shadow" style="height: 460px;background-color: rgb(234, 237, 236);">
              <ul class="list-group" style="padding-left:0px;background-color: rgb(234, 237, 236);">
                <li class="list-group-item" style="min-height:91px;background-color: rgb(234, 237, 236);border: medium none;"><p class="message" style="padding-top:15px;">
                <h4 class="text-success">
                    <label class="checkbox-inline" id="radio-button">
                        <input type="radio" name="customer_plan" value="<%= plan.id %>" class="plans"> <%= plan.plan_name.titleize %> Plan
                    </label>
                    <span><%= 'Current Plan' if current_user && plan == current_user.current_plan %></span>
                </h4></p></li>
                <li class="list-group-item background_gray">
                 <h4 class="">
                <p class="plan_amount2"> $ <%= number_with_precision(plan.plan_amount, :precision => 0) %><br></p>
                 <span class="small_text2" style="font-weight: bold;" >per month <span>
                  </h4>
               </li>


                <li class="list-group-item min-height_pp"  style="background-color: rgb(234, 237, 236);border: medium none;"><p class="desc"><%= plan.plan_description.truncate(152) %></p>
              
               <!--  <div  style="background-color:#fff"> -->
                    <% if current_user.present? %>
                        <% if plan == current_user.current_plan %>
                            <a class="btn btn-info" href="#" style="color:#fff"></a>
                        <% else %>
                            <a class="btn btn-info" href="<%= medialist_path %>" style="color:#fff">Sign up</a>
                        <% end %>
                    <% else %>
                        <a class="btn btn-info" href="<%= "#{signup_path}?user%5Brole%5D=CUSTOMER&pricing_plan_id=#{plan.id}"%>" style="color:#fff;">Sign up</a>
                    <% end %>
                     </li>
               <!--  </div> -->
                  
                
            </div>
        </div>
    </div>
<% end %>

<% @customer_addons.each do |plan| %>
    <div class="hide customer_addons">
        <div class="col-sm-12 col-xs-12 add-on">
            <div class="monthly-pricing text-center shadow" style="height: 460px;background-color: rgb(234, 237, 236);">
                <ul class="list-group" style="padding-left:0px;background-color: rgb(234, 237, 236);">
                    <li class="list-group-item">
                        <h2 class="text-center text-info" style="font-size:25px;">
                            <label class="checkbox-inline add-on" name="addon">
                                <input type="checkbox" name="addon" value="<%= plan.id %>"> <%= plan.plan_name.titleize %> : Add On
                            </label>
                        </h2>
                        <p class="text-center">
                            Optional Add On for any pay plan
                        </p>
                    </li>
                    <li class="list-group-item background_gray">
                      <h4 class="">
                        <p class="plan_amount2">
                            <!--h3 class="text-center text-info"-->
                            Additional $ <%= number_with_precision(plan.plan_amount, :precision => 0) %> <br><span class="small_text2" style="font-weight: bold;" >per month <span>
                            <!--/h3-->
                        </p>
                      </h4>
                    </li>

                    <li class="list-group-item min-height_pp" style="background-color: rgb(234, 237, 236);">
                        <p class="text-center text-muted">
                            <%= plan.plan_description %>
                        </p>
                    </li>
                   <!--  <div  style="background-color:#fff"> -->
                        <input type="submit" class="btn btn-info">
                         <a class="btn btn-info" href="#" style="color:#fff">Sign up</a>
                        </input>
                    <!-- </div> -->
                  </li>
                </ul>
            </div>
        </div>
    </div>
<% end %>

<div class="hide" id="no_plan">
    <p class="text-center error">No plan found</p>
</div>

<%= javascript_include_tag "pricing.js" %>
<%= javascript_include_tag  "signup1.js" %>
<%= stylesheet_link_tag 'signup.css' %>
<%= stylesheet_link_tag "pricing.css" %>
<script type="text/javascript">
    $(document).ready(function () {
      $("#role4").click();
    });
</script>
<style type="text/css">
  .bt1{
    background-color: #5895EB;
    height: 50px;
    width:100%;
  }
  .listbckcolor
  {
    background-color: gray;
  }
  .background_gray
{
  min-height: 135px;
  background-color: rgb(234, 237, 236);
  border: none;
}
.plan_amount2
{
  color: #7B7A78;
  padding-top: 20px;
  font-size: 110%;
 font-weight: bold;
}
.small_text2
{
 color: #7B7A78;
 font-size: 14px;
}
</style>