<!--========================   Breadcrumb  Start  ======================-->
<div class="containerfluid1">
  <!--==== Added image and place text on image in beneath header Start ====-->
  <% if current_subdomain.is_ocm? && params[:user][:type] != "CUSTOMER"%>
   <div id="container">
  <!--    <img id="image" class="glob" src="<%#= asset_path 'NewWelcomeOnboardHeaderImage.jpg' %>"/> -->
  <img id="image_new" class="glob" src="<%= asset_path 'WelcomeOnboardHeaderImageC.jpg' %>"/>
  
  
   <!--  <p id="text">
      Ready To Get Started?
      <br />
    </p>
    <p id="text2">You’re one step closer to strengthening your ministry with reliable subscription income from</p> -->
     </div>
  <%else%>
  <div id="container">
   <!--   <img id="image" src="<%#= asset_path 'NewWelcomeOnboardCustomerHeaderImage.jpg' %>"/> -->

       <img id="image_new" src="<%= asset_path 'WelcomeOnboardCustomerHeaderImageC.jpg' %>"/>
    <!-- <p id="text" style="float:right;">
      Ready To Get Started?
      <br />
    </p>
    <p id="text2" style="float:right;">You’re one step closer to enjoying the messages, music, and media that brings you joy, inspiration and hope.</p> -->
   <!-- <div id="container" class="container container-fix"> -->
     
      <!-- <p id="text">
          Pricing Plans Designed With Your Budget In Mind
      </p> -->
   <!--  </div><br /> -->
 </div>
  <%end%>
</div> 

<div class="container">  

<% if !device_name.is_mobile? && !browser.mobile? %> 
<br>
<br>
  <!--==== Added image and place text on image in beneath header End ====-->
<div class="row">
  <!-- <div class="col-sm-12"> -->
    <div class="breadcrumb-outer">
    </div>
    
  <!--========================   Breadcrumb End  ======================-->

  <!--========================   Heading Start  ======================-->
  <div class="col-md-6 ">
    <h2 class="parahead">
     <%if params[:user] && params[:user][:type] == "CUSTOMER"%>
      Sign Up
      <%elsif params[:user] && params[:user][:role] == "CHURCH"%>
        TELL US ABOUT YOUR CHURCH
      <%elsif params[:user] && params[:user][:role] == "INDEPENDENT_SPEAKER"%>
        TELL US ABOUT YOUR MINISTRY    
      <%elsif params[:user] && params[:user][:role] == "ORGANIZATION"%>
         TELL US ABOUT YOUR ORGANIZATION   
      <%elsif  params[:user] && params[:user][:role] == "CHURCH_MUSICIAN"%>
         TELL US ABOUT YOUR MUSIC   
      <%end%>  
    </h2> 
  </div>

 <div class="col-md-1"></div>  

<div class="col-md-5 parahead">
     <%if params[:user] && params[:user][:type] != "CUSTOMER"%>
       <!--  Ready to get started? You’re one step closer to strengthening your church with reliable subscription income from your messages and media. -->
    <%else%>
        Want to stay connected and inspired? Your account gives you access to 
        <%= User.where("church_name= ?", current_subdomain.subdomain_name).first.name.upcase rescue "OnlineChurchMedia" 
         # current_subdomain.subdomain_name.camelize
         %>’s messages and other media. In addition, you can comment on messages, track your purchase history and share links on social media.
    <%end%>
  </div>
</div>

<%else%> 

<div class="row">
<div class="col-md-6">
</div>
<div class="col-md-1"></div>  
<div class="col-md-5 parahead">
  <%if params[:user] && params[:user][:type] != "CUSTOMER"%>
    Ready to get started? You’re one step closer to strengthening your church with reliable subscription income from your messages and media.
  <%else%>        
    Want to stay connected and inspired? Your account gives you access to 
    <%= User.where("church_name= ?", current_subdomain.subdomain_name).first.name.upcase rescue "OnlineChurchMedia" 
    # current_subdomain.subdomain_name.camelize
    %>’s messages and other media. In addition, you can comment on messages, track your purchase history and share links on social media.
  <%end%>
  </div>
</div>
  <!--==== Added image and place text on image in beneath header End ====-->
<div class="row">
  <!-- <div class="col-sm-12"> -->
    <div class="breadcrumb-outer">
    </div>
        <!-- <div class="col-sm-6">
                <h1 class="heading-title1">
                    Sign Up
                </h1>
            </div>
      <div class="col-sm-6">
           <p class="para1">Want to stay connected and inspired? Your account gives you access to <%= current_subdomain.subdomain_name.camelize%>’s messages and other media. In addition, you can comment on messages, track your purchase history and share links on social media.</p>  
          </div>
 -->
  <!-- </div> -->
  <!--========================   Breadcrumb End  ======================-->

  <!--========================   Heading Start  ======================-->
  <div class="col-md-6 ">
    <h2 class="heading-title1">
     <%if params[:user] && params[:user][:type] == "CUSTOMER"%>
      Sign Up
      <%elsif params[:user] && params[:user][:role] == "CHURCH"%>
        TELL US ABOUT YOUR CHURCH
      <%elsif params[:user] && params[:user][:role] == "INDEPENDENT_SPEAKER"%>
        TELL US ABOUT YOUR MINISTRY    
      <%elsif params[:user] && params[:user][:role] == "ORGANIZATION"%>
         TELL US ABOUT YOUR ORGANIZATION   
      <%elsif  params[:user] && params[:user][:role] == "CHURCH_MUSICIAN"%>
         TELL US ABOUT YOUR MUSIC   
      <%end%>  
    </h2> 
  </div>

 <div class="col-md-1"></div>  
  <!-- div class="col-md-5 parahead">
     <%#if params[:user] && params[:user][:type] != "CUSTOMER"%>
        Ready to get started? You’re one step closer to strengthening your church with reliable subscription income from your messages and media.
    <%#else%>
        Want to stay connected and inspired? Your account gives you access to <%= current_subdomain.subdomain_name.camelize%>’s messages and other media. In addition, you can comment on messages, track your purchase history and share links on social media.
    <%#end%>
  </div> -->
</div>
    <% end %>

<!--========================   Heading End  ======================-->
    
<!--========================   Sign Up  Start   ======================-->
    <!-- INDEPENDENT_SPEAKER, CHURCH_MUSICIAN, ORGANIZATION, CHURCH -->
  <div class="col-sm-6">
    <form action="/users/pricing" class="form-horizontal bv-form" method="post" id="registration">
      <input type="hidden" name="user[name]" value="<%= params[:user][:name] %>">
      <input type="hidden" name="user[last_name]" value="<%= params[:user][:last_name]%>">
      <input type="hidden" name="user[email]" value="<%= params[:user][:email]%>">
      <input type="hidden" name="user[title]" value="<%= params[:title_id]%>">
      <input type="hidden" name="user[role]" value="<%= params[:user][:role] %>">
      <input type="hidden" name="user[type]" value="<%= params[:user][:type] %>">
      <input type="hidden" name="plan" value="<%= params[:customer_plan_id]%>">
      <% if params[:download_media] %>
      <input type="hidden" name="download_media" value="<%= params[:download_media]%>">
      <input type="hidden" name="download_media_path" value="<%= params[:download_media_path]%>">
      <% end %>      
      <% if @selected_plan_id %>
          <input type="hidden" name="pricing_plan_id" value="<%= @selected_plan_id %>">
      <% end %>
      <!--<input type="hidden" name="user[username]" value="<%#= params[:user][:username]%>">
      <input type="hidden" name="subdomain[plan]" value="<%#= params[:subdomain][:plan]%>">
      <input type="hidden" name="customer[plan]" value="<%#= params[:customer][:plan]%>">
      <input type="hidden" name="addons" value="<%#= params[:addons]%>">
      <input type="hidden" name="acronym" value="<%#= params[:user][:acronym]%>">  -->

      <!--===== INDEPENDENT_SPEAKER, CHURCH_MUSICIAN, ORGANIZATION, CHURCH Sign Up Start ====-->
      <%if params[:user] && params[:user][:type] != "CUSTOMER"%>
          
        <div class="form-group <% if current_subdomain.present? && !current_subdomain.is_ocm? %>hide<% end %>">
          <%if params[:user] && params[:user][:role] == "CHURCH"%>
            <label class="required">My Church Name is</label>
          <%elsif params[:user] && params[:user][:role] == "INDEPENDENT_SPEAKER"%>
            <label class="required">My Ministry Name is</label>
          <%elsif params[:user] && params[:user][:role] == "ORGANIZATION"%>
            <label class="required">My Organization’s Name is</label>
          <%else%>
            <label class="required">My Ministry Name / Band Name is</label>
          <%end%>
          <input type="text" name="user[church_name]" class="form-control search_church" id ="church_name">
          <!-- <select name="user[church_name]" data-placeholder="Presenter Name" class="form-control chosen-select-presenter"> 
            <option value="">Select</option>
            <%# @church_names.each do |church_name| -%>
              <option value="<%#= church_name %>"><%#= church_name %></option>
            <%# end %>
          </select> -->
        </div>
       
        <div class="form-group">
          <label class="required">We’d like to have our Online Church Media website name to be</label>&nbsp;&nbsp;<br>
          <label id="new_css">http://</label><input type="text" name="user[username]" class="form-control username_css" id="username"><label style="font-weight: lighter;margin-top:1%;">.onlinechurchmedia.com</label>
        </div>
        
      <%end%>
      <%if params[:user] && params[:user][:type] == "CUSTOMER"%>
        <div class="form-group">
          <label class="required">Create a Username</label>&nbsp;&nbsp;
          <span class="example1">(No spaces allowed)</span>
          
          <div class="" id="subdomain_add">
            <input type="text" name="user[username]" class="form-control" id ="username">
          </div>
        </div>
      <%end%>

         <!-- <div id= "business_email" class="form-group <%# if current_subdomain.present? && !current_subdomain.is_ocm? %>hide<%# end %>">
          <%# if params[:user] && params[:user][:role] == "CHURCH"%>
           <!--  <label class="required">Your Church Business Email Address</label> -->
          <%# elsif params[:user] && params[:user][:role] == "ORGANIZATION" %>
            <!-- <label class="required">Your Organization’s Business Email</label> -->
          <%# else %>
          <!--   <label class="required">Your Business Email</label> -->
          <%# end %>
         <!--  <div class="" id="business_email_div">
            <input type="text" name="user[business_email]" class="form-control" id ="subdomain_business_email">
          </div>
        </div> -->

        <% if params[:user][:type] == "BUSINESS" %>
          <div id= "business_email" class="form-group <% if current_subdomain.present? && !current_subdomain.is_ocm? %>hide<% end %>">
            <% if params[:user] && params[:user][:role] == "CHURCH"%>
              <label class="required">Your Church Business Email</label>
            <% elsif params[:user] && params[:user][:role] == "ORGANIZATION" %>
              <label class="required">Your Organization’s Business Email</label>
            <% else %>
              <label class="required">Your Business Email</label>
            <% end %>
            <div class="" id="business_email_div">
              <input type="text" name="user[business_email]" class="form-control" id ="subdomain_business_email">
            </div>
          </div> 
        <% end %>  


      <div class="form-group">
        <label class="required">Password</label>&nbsp;&nbsp;<span class="example1">(Must be 8 characters long and include one number)</span>
        <input type="password" name="user[password]" class="form-control" id="pwd">
      </div>
      
      <div class="form-group">
        <label class="required">Confirm Password</label>
        <input type="password" name="user[password_confirmation]" class="form-control" id="confirm_pwd" >
      </div>

      <%if params[:user] && params[:user][:type] != "CUSTOMER"%>
        <div id= "acronym_field" class="form-group <% if current_subdomain.present? && !current_subdomain.is_ocm? %>hide<% end %>">
          <label class="required">Create an Inventory Acronym</label>&nbsp;&nbsp;<span class="example1">(Must be four characters only. e.g: STJN)</span>
          <div class="" id="acronym_div">
            <input style="text-transform: uppercase" type="text" name="user[acronym]" class="form-control" id ="acronym">
          </div>
        </div>

      <!-- <div id= "business_email" class="form-group <%# if current_subdomain.present? && !current_subdomain.is_ocm? %>hide<%# end %>">
          <%# if params[:user] && params[:user][:role] == "CHURCH"%>
            <label class="required">Your Church Business Email</label>
          <%# elsif params[:user] && params[:user][:role] == "ORGANIZATION" %>
            <label class="required">Your Organization’s Business Email</label>
          <%# else %>
            <label class="required">Your Business Email</label>
          <%# end %>
          <div class="" id="business_email_div">
            <input type="text" name="user[business_email]" class="form-control" id ="subdomain_business_email">
          </div>
        </div>  -->


        <!-- <div class="form-group <%# if current_subdomain.present? && !current_subdomain.is_ocm? %>hide<%# end %>">
          <label class="required">Enter Your Church's Name</label>
            <select name="user[church_name]" data-placeholder="Presenter Name" class="form-control chosen-select-presenter"> 
              <option value="">Select</option>
              <%# @church_names.each do |church_name| -%>
                <option value="<%#= church_name %>"><%#= church_name %></option>
              <%# end %>
            </select>
        </div> -->
      <%end%>
      <!-- <div class="form-group" hidden>
          <label class="required">Country</label>
          <select name="address[country]" id="country" class="form-control">
            <option value=""></option>            
          </select>
      </div>
      
      <div class="form-group" hidden>
          <label class="required">State</label>
          <select name="address[state]" id="state" onchange="listOfStatesOrCities(this,'region');" class="form-control">
            <option value=""></option>
          </select>
      </div>
      
      <div class="form-group" hidden>
          <label id="region_label" class="required">Region</label>
          <select name="address[region]" id="region" onchange="listOfStatesOrCities(this,'city');" class="form-control">
              <option value=""></option>
          </select>
      </div>

      <div class="form-group" id="div_city" hidden>
          <label class="required">City</label>
          <select name="address[city]" id="city" class="form-control">
              <option value=""></option>
          </select>
      </div> 

      <div class="form-group" hidden>
          <label class="required">Postal Code</label>
          <input name="address[postal_code]" type="text" class="form-control" id="pcode">
      </div> -->
                             
      <!-- <div class="form-group <%# if (current_subdomain.present? && !current_subdomain.is_ocm?) || (params[:user][:role] == "CUSTOMER") %>hide<%# end %>" id= "radio-button">

        <label class="required">Business Type</label></br>
          <%# if current_subdomain.present? && current_subdomain.is_ocm? && params[:user][:type] != "CUSTOMER"%>
            <%# @subdomain_types.each do |subdomain_type| %>
              <label class="checkbox-inline" style="padding-left: 0px; margin-left:0px;">
                <input type="radio" name="user[role]" value="<%#= subdomain_type.subdomain_type %>" data-id="<%#= subdomain_type.id %>" class="user_role"> <%#= subdomain_type.subdomain_type.gsub("_", " ").titleize %>
              </label>
            <%# end if @subdomain_types%>
          <%# else %>
            <label class="checkbox-inline hide" style="padding-left: 0px;">
              <input type="text" name="user[role]" value="CUSTOMER", id="role4" class="user_role"> Customer
            </label>
          <%# end %>
      </div> -->
      
      <div class="form-group">
        <div class="">
          <input type="reset" value="Reset"  class="btn btn-info">
          <input type="button" value="Next"  class="btn btn-info" id="registration_btn">
        </div>
      </div>
    <!-- </div> -->
    </form>
  </div>
  <!-- <div class="col-sm-1"></div> -->
  <!-- <div class="col-sm-5">
    <%#if params[:user] && params[:user][:type] != "CUSTOMER"%>
        Ready to get started? You’re one step closer to strengthening your church with reliable subscription income from your messages and media.
    <%#else%>
        Want to stay connected and inspired? Your account gives you access to <%= current_subdomain.subdomain_name.camelize%>’s messages and other media. In addition, you can comment on messages, track your purchase history and share links on social media.
    <%#end%>
  </div> -->
  <!--=======  Sign Up End  =========-->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        <% if @selected_subdomain_type_id %>
        setTimeout(function () {
            $("input[type='radio'][data-id='<%= @selected_subdomain_type_id %>']").click();
        }, 1500)
        <% end %>
    });
</script>
<%= stylesheet_link_tag  'chosen.min.css','bootstrap-tagsinput.css', 'summernote.css',"upload.css", "uploaded_mediums.css","dev_custom.css" %>
<%= javascript_include_tag 'bootstrap-tagsinput.min.js',"chosen.jquery.js", 'summernote.min.js',  'chosen-select.js', "signup2.js", 'jquery.loadTemplate-1.4.4.min.js',"new_upload.js", "signup2.js" %>
<%= javascript_include_tag  "bootstrap.file-input.js"%>

<%#= javascript_include_tag "address.js", "signup2.js","chosen.jquery.js",'chosen-select.js' %>
<%#= javascript_include_tag  "signup1.js" %>
<%#= stylesheet_link_tag 'signup.css','chosen.min.css',"dev_custom.css" %>

<style type="text/css">
  /*Added for place text on image*/
  #container{
    margin-bottom: -57px;
  }

  #text{
    position: relative;
    color: white;
    font-size: 37px;
    font-weight: bold;
    bottom: 279px;
    text-align: center;
  } 

  #text2{
    position: relative;
    color: white;
    font-size: 20px;
    /*font-weight: bold;*/
    bottom: 279px;
    text-align: center;
      
  }
  #type_text{
    text-align: left; 
    padding-top: 6px;
    margin-left: 19px;
  }
  
  .username_css{
    display: inline-block;
    float: left;
    width: 122px;
  }
  #new_css{
    float: left;
    display: inline-block;
    clear: left;
    font-weight: lighter;
    text-align: right;
    margin-top: 1%;
  } 

  .heading-title1
  {
  width: 100%;
  float: left;
  margin-top: -20px;
  margin-bottom: 20px;
  }
.parahead
{
margin-top: 60px;
}

.containerfluid1
  {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
  }
@media only screen and (max-width: 767px) {
  .containerfluid1
  {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 74px !important;
  }
}

  @media only screen and (min-width: 768px) and (max-width: 890px){
   #image_new
   {
    margin-top: 16%;
   }
 }

 @media only screen and (min-width: 891px) and (max-width: 991px){
   #image_new
   {
    margin-top: 14%;
   }
 }

 @media only screen and (min-width: 992px) and (max-width: 1100px){
   #image_new
   {
    margin-top: 4%;
   }
 }

 @media only screen and (min-width: 1101px) and (max-width: 1200px){
   #image_new
   {
    margin-top: 2%;
   }
 }

</style>


<script>
  //Added by: SneWan, To add the auto suggestion/autocomplete functionality for church anme
  $(document).ready(function(){  
    setTimeout(function(){ $(".search_church").trigger("input"); }, 1000);
    $(document).on('input','#church_name',function () {
      var value = $("#church_name").val();
      $.ajax({
        url:'/search_church_name',
        data: {data: value},
        success: function(result) {
          if (result != []){
            $('#church_name').autocomplete({
              minLength: 1,
              source: result,
              appenTo: '#auto-complete',
              select: function (event, ui) {
                $("#church_name").val(ui.item.label);
                $("#username").val(ui.item.label.split(' ').join(''));
                return false;
              }
            });
          };
          var church_name_data = $("#church_name").val();
          $("#username").val(church_name_data.split(' ').join(''));
          setTimeout(function(){ 
            $( ".ui-widget-content" ).show(); 
          }, 100); 
        }
      });  
    }); 
    // $("#church_name").click(function(){
      // if ($("#church_name").val() != '' ){
      //   var church_name_data = $("#church_name").text();
      //   $("#username").val(church_name_data);
      // }
    // });
    //var church_name_data = $("#church_name").val();
    

    // var church_name_data = $("#church_name").val();
    // $("#username").val(church_name_data);
    //  $("#church_name").keyup(function(){
    //   var church_name_data = $("#church_name").val();
    //   if ($("#church_name").val() != '' ){
    //   //
    //     $("#username").val(""); 
    //     $("#username").val(church_name_data);

    //   //
    //   }  
    // }); 
  });

</script>

<style type="text/css">
/*@media (min-width: 1280px)  {
  .para2{
    float: left; 
  }*/
</style>



<!-- <script type='text/javascript'>
    //Maps an event to the window closing event
    window.onbeforeunload = function(e) {
        alert("The Window is closing!");
    };
</script> -->

<!-- <script type="text/javascript">
  window.onbeforeunload = function (event) {
    var message = 'Important: Please click on \'Save\' button to leave this page.';
    if (typeof event == 'undefined') {
        event = window.event;
    }
    if (event) {
        event.returnValue = message;
        $.ajax({
       type:"GET",
       url:"/incomplete_registration",
       dataType:"json",
       data: { name: '<%#= "#{params[:user][:name]}" %>', email: '<%#= "#{params[:user][:email]}" %>' }
 });
}
};
</script> -->