
<div class="container container-fix">
      <!--========================   Heading End  ======================-->    
    <!--========================   Upload  Start   ======================-->
    
    <div class="row">
       <%= render 'layouts/admin_header' %>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <h2 class="heading-title text-left">Add Category</h2>
            	<%= form_for(@category, :html=>{:class => "form-horizontal UserAdministration", :role=> "form", :id => "add_category_form"}) do |f| %>
                <div class="form-group">
                    <label for="inputPassword34" class="col-sm-2 control-label required">Category Name</label>
                    <div class="col-sm-5">
                       
                        <%= f.text_field :category_name,:class=> "form-control", :placeholder=>"Category Name",:id=> "category_name_id"  %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                       
                         <%= f.submit "Add Category",:class=>"btn btn-info", :id=> "add_category" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="heading-title text-left">Category Management</h2>
        </div>
        <div class="col-sm-12">
            <h4 class="heading-title text-left">Total Categories: <%=@categories.count%></h4>
        </div>
        <div class="col-xs-12">
            <div class="table-responsive">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>  
                       <% @categories.each do |category|%>
                        <tr>
                            <td><%=category.category_name%></td>
                            <td>
                            <%= link_to edit_category_path(category), class: 'btn btn-info',  title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
                                <span class="glyphicon glyphicon-pencil"></span>
                            <% end %>
                                
                            </td>
                        </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
            <%= will_paginate @categories %>
        </div>
    </div>
    <!--========================   Upload   End  ======================-->
</div>


<%= javascript_include_tag 'bootstrap-hover-dropdown.js', 'bootstrap-tabdrop.js', 'ekko-lightbox.js', 'icheck.min.js', 'summernote.min.js', 'admin.js', 'category_subcategory.js' %>