<div class="container container-fix">

    <!--========================   Upload  Start   ======================-->
    <%=render "header_admin"%>
        <%#=render "dashboard_tabs"%>
        <div class="row">
             <div class="col-sm-12">
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed menu-options-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse" style="padding-left: 0px; margin-left: -15px;">
                        <ul class="nav navbar-nav">
                            <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Dashboard</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item"><a href="/total_users" >Total Users</a></li>
                                    <li class="menu-item"><a href="/total_downloads" >Total Downloads</a></li>
                                    <li class="menu-item"><a href="/total_bandwidth" >Total Bandwidth</a></li>       
                                </ul>
                            </li>
                            
                            <li class="menu-item dropdown "><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Admin</a>
                                <ul class="dropdown-menu">
                                    <%if current_user.id == 0%>
                                    <li class="menu-item"><a href="/organizations" >Organization Management</a></li>
                                    <li class="menu-item"><a href="/church_musicians">Church Musician Management</a></li>
                                    <li class="menu-item"><a href="/churchs" >Church Management</a></li>
                                    <li class="menu-item"><a href="/independent_speakers">Independent Speaker Management</a></li>
                                    
                                    <li class="menu-item">
                                        <a href="/categories/new">Category Management</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/subcategories/new">Sub-Category Management</a>
                                    </li>
                                    <%end%>
                                    <li class="menu-item"><a href="/manage_customer">Customer Management</a></li>
                                    <%if current_user.id == 0%>
                                    <li class="menu-item"><a href="/track_artworks/new">Add Royalty Images</a></li>
                                    <%end%>
                                </ul>
                            </li>
                            
                            <li class="menu-item report"><a href="/reports">Reports</a></li>
                            <li class="menu-item billing"><a href="/billing_statistics">Billings</a></li>
                            <%if current_user.id == 0%>
                                <li class="menu-item subscription"><a href="/plans/new">Subscriptions</a></li>
                            <%end%>
                            <%if current_user && ["TENANT_OWNER","SUPER_ADMIN","OCM_ADMIN"].include?(current_user.user_role.role)%>
                                <li class="menu-item active" id="incomplete_registration"><a href="/show_incomplete_registration" >Incomplete Registration</a></li>
                            <%end%>
                            <%if current_user && ["TENANT_OWNER","SUPER_ADMIN","OCM_ADMIN"].include?(current_user.user_role.role)%>
                            <li class="menu-item exchange" id="show_exchanges"><a href="/show_exchanges" >Exchange</a></li>
                        <%end%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="heading-title text-left">Total Incomplete Registrations: <%=@incomplete_registrations.count%></h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr bgcolor="#31708f">
                                    <th><font color="white">Name</font></th>
                                    <th><font color="white">Email</font></th>
                                </tr>
                            </thead>
                            <tbody class="odd" id="mytable">
                            <% @incomplete_registrations.each do |incomplete_registration| %>
                                <tr>
                                    <td>
                                        <%=incomplete_registration.name%>
                                    </td>
                                    <td>
                                        <%=incomplete_registration.email%>
                                    </td>
                                </tr>
                            <%end%>                        
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <%= will_paginate @incomplete_registrations %>
        </div>
    </div>    
    <!--========================   Upload   End  ======================-->
</div>
<%=javascript_include_tag 'bootstrap-hover-dropdown.js', 'my_account.js'%>
<%= javascript_include_tag  'bootstrap-colorpicker.js', 'bootstrap-hover-dropdown.js', 'bootstrap-tabdrop.js', 'ekko-lightbox.js', 'icheck.min.js', 'jquery.raty.js', 'summernote.min.js', 'will_paginate.js','admin_tab.js', 'my_account.js' %>

<%= javascript_include_tag 'bootstrap-hover-dropdown.js', 'bootstrap-tabdrop.js', 'ekko-lightbox.js', 'icheck.min.js', 'summernote.min.js', 'my_account.js' %>

<%= stylesheet_link_tag "my_account.css","tab.css" %>
<script>
$(".odd").find("tr:odd").css("background-color","#FFF5EB");
$(".odd").find("tr:even").css("background-color","#ffffff");

</script>
